@model StaffingSite.Models.Positions
@{
      ViewBag.Title = "Refer Candidate";
}
@*@using (Html.BeginForm("Index", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Refer Someone</legend>
        @if (ViewBag.Message != null)
        {
            <span style="color:green">
                @ViewBag.Message
            </span>
        }
        <div class="editor-label">
            @Html.DropDownListFor(m => m.jobid, Model.positions, "Select position")
    </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.emailid)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.emailid)
            @Html.ValidationMessageFor(model => model.emailid)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mobile)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mobile)
            @Html.ValidationMessageFor(model => model.mobile)
        </div>

        <div class="editor-label">
            Select CV
        </div>
        <div class="editor-field">
            <input type="file" name="file" />
            @Html.ValidationMessage("CustomError")
        </div>
        <p>
            <input type="submit" value="Refer" />
        </p>
    </fieldset>
    
    @Scripts.Render("~/bundles/jquery")
}*@


<div class="col-md-6">
    <!-- general form elements -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Refer Candidate here</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        @using (Html.BeginForm("Index", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
            <div class="box-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Select Position</label>
                    @Html.DropDownListFor(m => m.jobid, Model.positions, "Select position", new { @class = "form-control" })
                    @*<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">*@
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Candidate Name</label>
                    @Html.TextBoxFor(model => model.name, new { @class = "form-control", placeholder = "Enter Name" })
                    @Html.ValidationMessageFor(model => model.name)
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Candidate Email Id</label>
                    @Html.TextBoxFor(model => model.emailid, new { @class = "form-control", placeholder = "Enter Email Id" })
                    @Html.ValidationMessageFor(model => model.emailid)
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Candidate Mobile Number</label>
                    @Html.TextBoxFor(model => model.mobile, new { @class = "form-control", placeholder = "Enter Mobile Number" })
                    @Html.ValidationMessageFor(model => model.mobile)
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">Attach CV</label>
                    <input type="file" id="file">
                    @Html.ValidationMessage("CustomError")
                    @if (ViewBag.Message != null)
                    {
                       <p class="help-block">
                            @ViewBag.Message
                        </p>
                    }
                </div>
              
            </div>

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit Request</button>
            </div>
        }
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")